<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_BackEnd_MVC</title>
    <link rel="stylesheet" href="~/lib/dist/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/lib/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link href="~/lib/magnific-popup/magnific-popup.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header id="cabecalho" class="navbar-dark bg-primary fixed-top">
        <div class="container">
            <nav id="navegacao" class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">
                    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    <h1 class="d-none">
                        Técnico em Informática Turma 46
                    </h1>
                </a>
                <!--Data toggle: abrir e fechar do botão para mobile-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegacao-menu" aria-controls="navegacao-menu" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navegacao-menu">
                    <!--w-100 para ocupar o espaço todo-->
                    <ul class="navbar-nav nav justify-content-end w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="#destaques">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sobre-nos">Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#alunos">Alunos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Desativado</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
        <main id="conteudo" role="main" class="pb-3">
            @RenderBody()
        </main>


    <footer class="bg-primary text-white">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <!--<a class="nav-link" href="#"></a>-->
                <i class="fab fa-facebook fa-2x"></i>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div class="container text-center">
            <small class="small">Todos os direitos reservados ao curso Técnico em Informática 46</small>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/owlcarousel2/owl.carousel.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
