@{
    ViewData["Title"] = "Home Page";
}

<section class="hero" id="heros">
<h3 class="mt-5">CREDIBILIDADE E EXCELÊNCIA NO ATENDIMENTO JURÍDICO, PRESTANDO SERVIÇOS DE QUALIDADE, ÉTICA E 
    RESPEITO AOS CLIENTES</h3>
<a class="nav-link nav-menu btn" href="#servicos">Saiba mais</a>
        </section>
<section id="noticias" class="noticia">
    <h3>Notícias</h3>
    <hr>
    <div class="container">
        <div id="divisaoCarrosel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#divisaoCarrosel" data-slide-to="0" class="active"></li>
                <li data-target="#divisaoCarrosel" data-slide-to="1"></li>
                <li data-target="#divisaoCarrosel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="IMG/LGPD.jpg" alt="Primeiro Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Nova Lei Geral de Proteção de Dados</h4>
                        <a href="https://www.lgpdbrasil.com.br/" target="_blank">Entenda quais as mudanças para o seu negócios</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://lorempixel.com/1920/780/" alt="Segundo Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Nova Lei Geral de Proteção de Dados</h4>
                        <p>Entenda quais as mudanças para o seu negócios</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://lorempixel.com/1920/780/" alt="Terceiro Slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Nova Lei Geral de Proteção de Dados</h4>
                        <p>Entenda quais as mudanças para o seu negócios</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#divisaoCarrosel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#divisaoCarrosel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
</section>
<section id="empresas" class="noticia">
    <h3>Empresa</h3>
    <hr>
    <div class="row">
        <div class="col-md-3 how-img ml-5">
            <img src="IMG/Logo_Empresa.jpeg" class="rounded-circle img-fluid" alt="Logo Gubolin e Pedroso" />
        </div>
        <div class="col-md-8">
            <h1><b>Gubolin &amp; Pedroso</b></h1>
            <h4 class="subheading">Advogados Associados</h4>
            <p class="text-muted">
                Somos um escritório com destaque na atuação Cível e Trabalhista, prestando serviços jurídicos especializados, de forma personalizada.
                <br><br>Na esfera trabalhistas, nossa atuação é primordialmente na área empresarial, auxiliando empresas na definição de suas estratégias de negócios, políticas de recursos humanos, prevenindo a ocorrência de litígios ou defendendo seus interesses perante as demandas na Justiça do Trabalho.
                <br><br>Na esfera cível, atuamos em diversos segmentos da área consultiva e contenciosa, de modo a atender a real necessidade dos clientes de forma minuciosa e individualizada.
                <br><br>Nos orgulhamos de realizar um atendimento personalizado, voltado às necessidades de cada cliente e contribuindo para melhores resultados em seu segmento de atuação.
                <br><br>Nossa equipe conta com profissionais altamente qualificados e com uma visão empresarial diferenciada, mantendo uma relação de pessoalidade e proximidade com todos os clientes, respeitando padrões éticos e de qualidade.

            </p>
        </div>
    </div>
</section>
<section class="noticia" style="background-color: #EBEAEA; padding-bottom: 0px">
    <h3>Serviços</h3>
    <hr>
</section>
<section id="servicos" class="servico">
    <ul class="grid">
        <li class="mr-4">
            <i class="bi bi-file-earmark-lock2"></i>
            <h4>Trabalhista</h4>
            <p>
                Consultoria preventiva e defesa judicial e extrajudicial para as empresas.
                Ingresso de Reclamatória Trabalhista para os empregados.
            </p>
        </li>
        <li class="mr-4">
            <i class="bi bi-people-fill"></i>
            <h4>Civil</h4>
            <p>
                Ações de cobrança, ações de execução, ações condominiais, etc
            </p>
        </li class="mr-4">
        <li>
            <i class="bi bi-house-door"></i>
            <h4>Família e Sucessões</h4>
            <p>
                Assistência e consultoria nos mais variados assuntos relacionados com o direito de Família e Sucessão,
                tais como: abertura de inventários, arrolamentos, separação e divórcio.
            </p>
        </li>
        <li class="mr-3">
            <i class="bi bi-book"></i>
            <h4>Contratos</h4>
            <p>
                Elaboração, análise e/ou revisão de contratos cíveis e comerciais.
            </p>
        </li>
    </ul>
</section>
<section class="noticia" id="sobrenos">
    <h3>Sobre nós</h3>
    <hr>
    <div class="how-section1">
        <div class="row ml-5">
            <div class="col-md-3 how-img">
                <img src="IMG/Marcos_Gubolin.jpg" width="400" height="400" class="rounded-circle img-fluid mb-3" alt="Fotógrafa 1" />
            </div>
            <div class="col-md-8 ml-5">
                <h2>Marcos Alberto Gubolin</h2>
                <h5 class="subheading">OAB/SP 190.280</h5>
                <p class="text-muted ">
                    <ul>
                        <li>
                            Graduado pelo Centro Universitário do Norte Paulista (UNORP) – São José do Rio Preto (2001);
                        </li>
                        <li>
                            Pós graduação, em nível lato sensu – especialização, em Direito Civil e Direito Processual Civil pelo Centro Universitário de Rio Preto (UNIRP) - São José do Rio Preto (2007);
                        </li>
                        <li>
                            Pós graduando, em nível lato sensu – especialização, em Direito do Trabalho e Direito Processual do Trabalho pela Universidade Presbiteriana Mackenzie;
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-5">
                <h2>Viviane Pedroso</h2>
                <h5 class="subheading">OAB/SP 388.244</h5>
                <p class="text-muted">
                    <ul>
                        <li>
                            Graduada pelo Centro Universitário de Rio Preto (UNIRP) - São José do Rio Preto (2014);
                        </li>
                        <li>
                            Pós graduação, em nível lato sensu – especialização, em Direito Civil e Direito Empresarial pelo Damásio Educacional e Ibmec - São José do Rio Preto (2019);
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-md-3 how-img">
                <img src="IMG/Viviane.jpg" width="400" height="400" class="rounded-circle img-fluid" alt="Editora 1" />
            </div>
        </div>
    </div>
</section>
<section id="contato" class="noticia" style="background-color: #D4AF37; padding-bottom: 0px">
    <h3>Contatos</h3>
    <hr>
    <p>Fale conosco!</p>
</section>
<section class="row" style="background-color: #D4AF37; font-family: 'Red Hat Text', sans-serif;">
    <section class="container mb-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-unstyled mb-0" id="lista">
                    <li>
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>R. Paulo Setúbal, 101 - Vila Santa Cruz<br>São José do Rio Preto</p>
                    </li>

                    <li>
                        <i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>(17) 3519-4112 / 35194112</p>
                    </li>

                    <li>
                        <i class="fas fa-envelope mt-4 fa-2x"></i><br />
                        <a class="btn btn-outline-dark" href="mailto:juridico@gubolinpedroso.com.br?subject= Contato via site - Seu nome aqui" target="_blank">juridico@gubolinpedroso.com.br</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>